# Build results
_site/
api/**
!api/**.md
_site/
[Oo]bj/
output.json
**.zip

# Others
docfx/
plugins/
templates/*
!templates/altmp
coreclr-module
coreclr-module/
altv-types
altv-types/
cpp-sdk
cpp-sdk/
altv-docs-gta
altv-docs-gta/
altv-docs-gta-assets
altv-docs-gta-assets/
