# Build results
_site/
api/**
!api/**.md
_site/
[Oo]bj/
output.json
**.zip

# Others
docfx/
plugins/
templates/*
!templates/altmp
coreclr-module/
altv-types/

tools/generators/vehicle_models/bin
tools/generators/vehicle_models/obj
tools/generators/vehicle_models/out

tools/generators/ped_models/bin
tools/generators/ped_models/obj
tools/generators/ped_models/out
