:root {
  --gray: #808080;
  --science-blue: #055DC5;
  --halloween-orange: #E26E2D;
  --la-salle-green: #008736;
  --release-stage-text-color: #FFFFFF;
  --destinations-card-glyph-color: #FFFFFF;
  --destinations-card-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11);
}

.release-stage {
  padding: 0.25em;
  margin-bottom: 0.25em;
  vertical-align: middle;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 0.25em;
  background-color: var(--gray);
}

.release-stage.alpha {
  background-color: var(--science-blue);
}
.release-stage.alpha::before {
  content: "alpha";
}

.release-stage.beta {
  background-color: var(--halloween-orange);
}
.release-stage.beta::before {
  content: "beta";
}

.release-stage.public {
  background-color: var(--la-salle-green);
}
.release-stage.public::before {
  content: "public";
}

.release-stage.alpha::before {
  content: "dev" !important;
}

.release-stage.beta::before {
  content: "rc" !important;
}

.release-stage.public::before {
  content: "release" !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.grid-container .grid-item {
  width: 200px;
  padding: 6px;
  font-size: 14px;
  word-wrap: break-word;
  border: 1px solid var(--search-bg-color);
}

.grid-container .grid-item .grid-item-img {
  height: 150px;
  margin-bottom: 5px;
}

.grid-item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .grid-container {
    justify-content: center;
    grid-template-columns: unset !important;
  }
}

.destinations .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1rem;
  row-gap: 1rem;
}

.destinations .grid-container > .grid-item {
  width: 100%;
  padding: unset;
}

.destinations .card {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  overflow: hidden;
  background-color: var(--search-bg-color);
  box-shadow: var(--destinations-card-shadow);
}

.destinations .card .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.destinations .card .card-header {
  display: block;
  font-size: 1.5rem;
}

.destinations .card .card-content {
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
}

.destinations .card .card-content .card-description {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  line-height: 1.3;
}

.destinations .glyph {
  display: inline-block;
  width: 1.25em;
  height: 100%;
  line-height: 100%;
  text-align: center;
  font-family: 'Font Awesome 5 Free';
  font-size: 3em;
  color: var(--destinations-card-glyph-color);
}

.fa-cogs:before {
  content: '\f085';
}

.fa-book-open:before {
  content: '\f02d';
}

.fa-code-branch:before {
  content: '\f126';
}
